body {
    background-color: rgba(48, 34, 34, 0.651);
    display: flex;
    justify-content: center;  
    align-items: center;      
    height: 100vh;            
    margin: 0;
}

.updatetext {
    font-family: 'Times New Roman', Times, serif;
}

#options label {
  display: block;
  margin-bottom: 8px; /* aralarda biraz boşluk için */
}